body {
    background-image: url("https://media.discordapp.net/attachments/692019678482006016/1078498595902324789/IMG_4565.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}





/* CSS */
.deal {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "pokerFont";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.deal:hover {
  background-color: #374151;
}

.deal:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .deal {
    padding: .75rem 1.5rem;
  }
}

@font-face {
    font-family: "pokerFont" ;
    src:url("PokerInOctoberDemo-Dxm3.otf") ;
}

.header {
    font-family: "pokerFont";
    font-size: 55px;
    color: #FFFFFF;
    padding: 50px;
}

.score {
    font-family: "pokerFont";
    color: #FFFFFF;
}

.player1 {
    font-family: "pokerFont";
    color: #FFFFFF;
}

.headerDiv {
display: flex;
justify-content: center;
}

.superDiv {
display: flex;
justify-content: center;

} 

.buttonDiv {
display: flex;
justify-content: center;
padding: 20px;

}

.scoreDiv1 {
    position: relative;
    margin-top: -40px;
    padding: -5em;
    
    
}

.scoreDiv2 {
    position: relative;
    margin-top: -40px;
    padding: -5em;


    
    
}

.para {}


